<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta charset="UTF-8" />
		<title>ichartjs </title>

		<script type="text/javascript" src="static/js/ichart.1.2.1.min.js"></script>
		<link rel="stylesheet" href="static/css/demo.css" type="text/css"/>
		<script type="text/javascript">
			$(function(){
				var data = [
				        	{name : '{{request.GET.user}}',value : 35.75,color:'#9d4a4a'},
				        	{name : '{{request.GET.password}}',value : 29.84,color:'#5d7f97'},
				        	{name : 'Firefox',value : 24.88,color:'#97b3bc'},
			        	];
	        	
				new iChart.Pie2D({
					render : 'canvasDiv',
					data: data,
					legend : {
						enable : true
					},
					showpercent:true,
					decimalsnum:2,
					width : 800,
					height : 400,
					radius:140
				}).draw();
			});
		</script>
	</head>
	<body>
		<div id='canvasDiv'></div>{{m}}{{request.session.test}}

	</body>
</html>